.top-bar {
  background: lightseagreen;
  color: white;
}

.top-bar .logo {
  width: 40px;
}

.top-bar .mat-button {
  font-size: 18px;
  line-height: 40px;
  margin: 0 8px;
  padding: 0 16px;
  width: 100px;
}