.header-container {
  align-items: center;
  background: #00bcd4;
  height: 60px;
  padding: 0 16px;
}

.header-container .pc-style {
  align-items: center;
}

.header-container .mobile-style {
  display: none;
}

:host /deep/ .mobile-style .mat-select-value {
  color: white;
  font-size: 18px;
}

:host /deep/ .mobile-style .mat-select-arrow {
  color: white;
}

:host /deep/ .mobile-style .mat-select-underline { 
  background: white;
}

.header-container .link,
.header-container .mat-button {
  color: white;
  font-size: 18px;
}

.header-container .link {
  outline: none;
}

.link img {
  width: 32px;
}

@media(max-width: 540px) {
  .header-container .pc-style {
    display: none;
  }
  .header-container .mobile-style {
    display: flex;
  }
}
