<div layout="row" class="header-container">
  <a class="link" routerLink="">
    <img src="/assets/images/logo.png" alt="logo"/>
  </a>
  <div layout="row" class="pc-style" flex>
    <a md-button class="mgl1" routerLink="art">猿文色</a>
    <a md-button class="mgl1" routerLink="story">故事旮</a>
    <a md-button class="mgl1" routerLink="hole">温柔乡</a>
    <a md-button class="mgl1" routerLink="about">关于の</a>
    <span flex></span>
    <a class="link" href="https://github.com/feichao" target="_blank">GitHub</a>
  </div>
  <div layout="row" flex class="mobile-style">
    <span flex></span>
    <md-select (change)="this.onSelectChange()" [(ngModel)]="selectedRouter">
      <md-option value="/">主页君</md-option>
      <md-option value="/art">猿文色</md-option>
      <md-option value="/story">故事旮</md-option>
      <md-option value="/hole">温柔乡</md-option>
      <md-option value="/about">关于の</md-option>
    </md-select>
  </div>
</div>