<div [ngSwitch]="this.isLoading">
  <md-progress-spinner *ngSwitchCase="true" class="global-loading" strokeWidth="8" mode="indeterminate">
  </md-progress-spinner>
  <div *ngSwitchCase="false">
    <md-list class="content-list" *ngFor="let key of categoryYearKeys">
      <h3 md-subheader>{{ key }}</h3>
      <md-list-item [attr.dataDate]="cate.date | date: 'MM/dd HH:mm'" class="list-item" *ngFor="let cate of categoryWithYear[key]">
        <h3 class="title">{{cate.title}}</h3>
        <div md-line class="summary" [innerHTML]="trim(cate.summary)"></div>
      </md-list-item>
    </md-list>
  </div>
</div>