.holes-container.large {
  display: block;
}

.holes-container.middle {
  display: none;
}

.holes-container.small {
  display: none;
}

.hole-container {
  float: left;
  width: 31%;
}

.hole-container.middle {
  margin: 0 3.5%;
}

.paging {
  align-items: center;
  border-top: 1px solid #eee;
  clear: both;
  justify-content: flex-end;
  padding-top: 16px;
}

@media(max-width: 960px) {
  .holes-container.large {
    display: none;
  }

  .holes-container.middle {
    display: block;
  }

  .holes-container.small {
    display: none;
  }

  .hole-container {
    float: left;
    width: 48%;
  }

  .hole-container.middle {
    float: right;
    margin: 0;
  }
}

@media(max-width: 640px) {
  .holes-container.large {
    display: none;
  }

  .holes-container.middle {
    display: none;
  }

  .holes-container.small {
    display: block;
  }

  .hole-container {
    float: left;
    width: 100%;
  }
}