/* You can add global styles to this file, and also import other style files */

body {
  font-family: monospace;
  font-size: 14px;
}

body, ul {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.content-container {
  /*bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 64px;*/
}

.content-container content-category {
  /*box-shadow: 2px 0 10px 0 #ccc;
  overflow-y: auto;
  padding: 10px;
  width: 22.22%;*/
}

.content-container a-post {
  flex: 1;
  margin-left: 20px;
  overflow-y: auto;
  padding: 0 10px 10px;
}

#yun-tie-sdk-wrap {
  padding: 0 !important;
}