/* You can add global styles to this file, and also import other style files */

body {
  font-family: monospace;
  font-size: 14px;
}

body, ul {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.content-container {
  display: block;
  margin: auto;
  max-width: 61.8%;
}

[layout='row'] {
  display: flex;
}

[layout='row'] > [flex] {
  flex: 1;
}


@media(max-width: 960px) {
  .content-container {
    margin: auto 16px;
    max-width: 100%;
  }
}

#yun-tie-sdk-wrap {
  padding: 0 !important;
}