.list-item {
  cursor: pointer;
  display: block;
  outline: none;
  padding: 6px;
  transition: all .35s;
}

.list-item.active {
  box-shadow: 0 0 16px 8px #ccc;
  position: relative;
  z-index: 99;
}

.list-item:nth-child(EVEN) {
  background: #f0f0f0;
}

.list-item .section {
  align-items: center;
  display: flex;
}

.section .title {
  display: block;
  flex: 1;
  margin: 4px 10px 4px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host /deep/ .summary p {
  margin: 6px 0;
}